services:
    application.sonata.admin.client:
        class : Application\Sonata\ClientBundle\Admin\ClientAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: Client, label: Client }
        arguments: [null, Application\Sonata\ClientBundle\Entity\Client, ApplicationSonataClientBundle:Client]

    application.sonata.admin.contact:
        class : Application\Sonata\ClientBundle\Admin\ContactAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: Client, label: Contact }
        arguments: [null, Application\Sonata\ClientBundle\Entity\Contact, ApplicationSonataClientBundle:Contact]

    application.sonata.admin.document:
        class : Application\Sonata\ClientBundle\Admin\DocumentAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: Client, label: Document }
        arguments: [null, Application\Sonata\ClientBundle\Entity\Document, ApplicationSonataClientBundle:Document]

    application.sonata.admin.garantie:
        class : Application\Sonata\ClientBundle\Admin\GarantieAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: Client, label: Garantie }
        arguments: [null, Application\Sonata\ClientBundle\Entity\Garantie, ApplicationSonataClientBundle:Garantie]

    application.sonata.admin.coordonnees:
        class : Application\Sonata\ClientBundle\Admin\CoordonneesAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: Client, label: Coordonnees }
        arguments: [null, Application\Sonata\ClientBundle\Entity\Coordonnees, ApplicationSonataClientBundle:Coordonnees]

    application.sonata.admin.commentaire:
        class : Application\Sonata\ClientBundle\Admin\CommentaireAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: Client, label: Commentaire }
        arguments: [null, Application\Sonata\ClientBundle\Entity\Commentaire, ApplicationSonataClientBundle:Commentaire]
