{% set nn = "ApplicationSonataClientOperationsBundle.declaration.negative_nett"|trans() %}
{% set nv = "ApplicationSonataClientOperationsBundle.declaration.negative_vat"|trans() %}
<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    {% for data in A06AIBlist %}
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">{{ (data.getTauxDeTVA() * 100) }}%</td>
        <td class="o_nett">{{ data.getHT()|number_format(2, ',', ' ') }}</td>
        <td class="o_tva">{{ data.getTVA()|number_format(2, ',', ' ') }}</td>
    </tr>
    {% endfor %}        
    </tbody>
</table>
