.error{
    color:red;
}
#error_repost_show{
    text-decoration: underline;
}
#error_repost_show:hover{
    text-decoration: none;
}
#client-topinfo {
    clear: none;
    float: left;
    margin-left: 200px;
    margin-top: -60px;
}
#client-topinfo div {
    clear: none;
    float: left;
    margin: 0 0 0 50px;
}
#client-topinfo h1 {
    clear: none;
    float: left;
    margin: 0 0 0 50px;
}
#client-topinfo span.label {
    margin: 0 0 0 50px;
}
.page-header {
    display: none;
}
.table-striped tbody tr.rowa td, .table-striped tbody tr.rowa th {
    background-color: #FFFFFF;
}
.table-striped tbody tr.rowb td, .table-striped tbody tr.rowb th {
    background-color: #F9F9F9;
}
.table-hover tbody tr.rowa:hover td, .table-hover tbody tr.rowa:hover th,
.table-hover tbody tr.rowb:hover td, .table-hover tbody tr.rowb:hover th {
    background-color: #F5F5F5;
}
.alert-info #importReportModal .modal-header{
    color: #000000;
    width: 515px;
}
.alert-count{
   margin-left: 20px;
}

.rapprochement_content_body {
    clear: both;
    float: none;
}
.rapprochement_content_no_deb {
    clear: both;
    float: none;
}
.rapprochement_content_deb {
    clear: both;
    float: none;
}
.rapprochement_content_input {
    width: 45%;
    float: left;
    clear: left;
}
.rapprochement_content_output {
    width: 45%;
    float: right;
    clear: right;
}
.rapprochement_content_stat {
    clear: both;
    float: none;
}
.rapprochement_content_body_table {
    margin-bottom: 50px;
}
table.table td.sonata-ba-list-field-money {
    text-align: right;
}
.rapprochement_buttons{
    clear: both;
    float: none;
    text-align: right;
}
#client_folder {
    margin: -10px -10px 10px 10px;
    padding: 10px 10px 0 0;
    background-color: #eee;
    border-style: solid;
    border-color: silver;
    border-width: 0 0 1px 1px;
    z-index: 99999;
    max-height: 6em;
    overflow: auto;
    min-width: 160px;
}
#client_folder ul {
    list-style-type: none;
    margin-left: 10px;
}