.error{
    color:red;
}
#error_repost_show{
    text-decoration: underline;
}
#error_repost_show:hover{
    text-decoration: none;
}
#client-topinfo {
    clear: none;
    float: left;
    margin-left: 200px;
    margin-top: -60px;
}
#client-topinfo div {
    clear: none;
    float: left;
    margin: 0 0 0 50px;
}
#client-topinfo h1 {
    clear: none;
    float: left;
    margin: 0 0 0 50px;
}
#client-topinfo span.label {
    margin: 0 0 0 50px;
}
.page-header {
    display: none;
}
.table-striped tbody tr.rowa td, .table-striped tbody tr.rowa th {
    background-color: #FFFFFF;
}
.table-striped tbody tr.rowb td, .table-striped tbody tr.rowb th {
    background-color: #F9F9F9;
}
.table-hover tbody tr.rowa:hover td, .table-hover tbody tr.rowa:hover th,
.table-hover tbody tr.rowb:hover td, .table-hover tbody tr.rowb:hover th {
    background-color: #F5F5F5;
}