<table cellpadding="0" cellspacing="-1" border="0">
    <tbody>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.pdf.balance_title"|trans() }} {{ "ApplicationSonataClientOperationsBundle.pdf.period_this"|trans() }} (si<0)</td>
        <td class="i_tva">0</td>
    </tr>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.pdf.claim"|trans() }}</td>
        <td class="i_tva">0</td>
    </tr>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.pdf.credit_carried"|trans() }}</td>
        <td class="i_tva">0</td>
    </tr>
    </tbody>
</table>
