<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td class="o_title">{{ "ApplicationSonataClientOperationsBundle.declaration.total"|trans() }}</td>
        <td class="o_value">&nbsp;</td>
        <td class="o_nett">{% if Total1 %}{{ Total1.getHT|number_format(0, ',', ' ') }}{% endif %}</td>
        <td class="o_tva">{% if Total1 %}{{ Total1.getTVA|number_format(0, ',', ' ') }}{% endif %}</td>
    </tr>
    </tbody>
</table>