{% extends ':CRUD:edit.html.twig' %}

{% block form_js %}
<script type="text/javascript">
    $(function () {
        $('form input[type="text"]').first().focus();
    });
</script>
{% endblock form_js %}

{% block actions %}
{% endblock actions%}

{% block title %}
Devise - Éditer
{% endblock%}

{% block formactions %}
<div class="well form-actions">
    {% if admin.id(object) %}
    <input type="submit" class="btn btn-primary" name="btn_update_and_edit" value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
    {% else %}
    <input class="btn btn-primary" type="submit" name="btn_create_and_edit" value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
    {% endif %}
</div>
{% endblock formactions %}