<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td class="i_title">&nbsp;</td>
        <td class="i_value">&nbsp;</td>
        <td class="i_nett">0</td>
        <td class="i_tva">0</td>
    </tr>
    </tbody>
</table>
