<div class="th_tva">{{ "ApplicationSonataClientOperationsBundle.declaration.th.tva"|trans() }}</div>
<div class="th_nett">{{ "ApplicationSonataClientOperationsBundle.declaration.th.nett"|trans() }}</div>