{% extends 'ApplicationSonataErrorsBundle::layout.html.twig' %}

{% block body_content %}
<div class="alert alert-error alert-error-{{ status_code }}">{{ ('ApplicationSonataErrorsBundle.message.' ~ status_text)|trans() }}</div>
{% endblock body_content %}