{% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
    <a class="btn sonata-action-element" href="{{ admin.generateUrl('create') }}">{{ 'ApplicationSonataClientOperationsBundle.link_action_create'|trans }}</a>
{% endif %}
