{% block content %}
<div class="sonata-actions-base sonata-actions-tabs sonata-actions-client">
    {{ block('actions') }}
</div>

<div class="row-fluid">
    <div class="content span12">
        {% block preview %}{% endblock %}
        {% block form %}{% endblock %}
        {% block list %}{% endblock %}
        {% block show %}{% endblock %}

        <div class="sonata-ba-filter">
            {% block list_filters %}{% endblock %}
        </div>

        <div class="sonata-ba-list">
            {% block list_table %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}