{% extends 'ApplicationSonataClientBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
    {{ block('formTabs') }}

    <div class="form-client-invoicing">
    {% render "ApplicationSonataClientBundle:ClientInvoicing:"~action_invoice  with {'filter' : {'client_id' : {'value' : client_id }},  'id' : client_id, '_sonata_admin': 'application.sonata.admin.client_invoicing'} %}
    </div>

    {% if content is not empty %}
    <div class="sonata-ba-form sonata-ba-list">
        {{ content|raw }}
    </div>
    {% endif %}
    {{ block('popup_form') }}
{% endblock sonata_admin_content %}