{% block tableFilter_js %}
<script src="{{ asset('bundles/applicationsonataclientoperations/js/jquery.columnfilters.js') }}" type="text/javascript"></script>
{% endblock tableFilter_js %}

{% block tableFilter %}
<script type="text/javascript">
    $(function () {
        $('.sonata-ba-list .table').columnFilters({
            {% if not admin.getLocking %}excludeColumns:[0, 1], {% endif %}
            excludeRowClass: ['.totals_row'],
            wildCard:false,
            alternateRowClassNames:['rowa', 'rowb']
        });

        $('.sonata-ba-list .table .filterColumns td:first').prepend('<button style="margin-right:10px;" class="btn" id="emptyColumnFilters"><i class="icon icon-remove"></i></button>');
        $("#emptyColumnFilters").click(function(){
            $(this).parent().parent().find("._filterText").val("").keyup();
        });
    });
</script>
{% endblock tableFilter %}