<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Redirect</title>
</head>
<body>
    <script type="text/javascript">
        location.replace('{{link}}');
    </script>
</body>
</html>
