body {
    background: #969696 url(../img/bg.png) repeat-x top;
}
#header {
    margin-bottom: 20px;
}
#top-nav {
    padding-top: 20px;
    position: absolute;
    right: 40px;
    top: 20px;
}

#container {
  min-width: 1100px;
  margin: 20px;
}

#maincont {
    border: 5px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin: 0 auto;
}
#mainsubcont {
    background: white;
    padding: 10px;
}

#client_folder {
    margin: -10px -10px 10px 10px;
    padding: 10px 20px 0;
    background-color: #eee;
    border-style: solid;
    border-color: silver;
    border-width: 0 0 1px 1px;
    z-index: 99999;
}
#client_folder ul {
    list-style-type: none;
}

.inline {
    display: inline-block;
}

.cboth {
    clear: both;
}

.center, .table td.center {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 1.5em;
}

#mass-buttons {
    margin-bottom: 10px;
}

#client-topinfo {
    margin: 10px;
}
#client-topinfo span {
}

.table thead td {
  background-color: #eee;
  text-align: center;
}

.table thead input {
  margin: -5px;
  width: 90px;
  background-image: url(../img/loupe.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding: 3px;
  padding-right: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.main-content {
}

.sonata-bc div.connection {
    margin: 0 auto !important;
    position: inherit !important;
}
.sonata-ba-list table.table td.sonata-ba-list-field-money{
    text-align: right;
}

.form-horizontal .sonata-ba-field .datepicker {
    width: 80px;
}
td.sonata-ba-list-field-percent,
td.sonata-ba-list-field-integer,
td.sonata-ba-list-field-number{
    text-align: right;
}
.sonata-ba-list table.table thead th,
.sonata-ba-list table.table thead th:hover{
    background-color: white;
}
.navbar .nav > li > span {
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    display: block;
}


.popup-form .popup-body .form-actions{ display: none}
.popup-form .modal-footer .action-buttons form{ display: inline; }
.popup-form .popup-body .sonata-medium-date select{
     width: 85px;
 }

.sonata-ba-list .table .sonata-ba-list-field-header-batch{
    padding-left:14px;
    width: 80px;
}

.popup-form .modal-header h3.title {
    text-transform: capitalize;
}

tr.sonata-ba-list-field-header th {
    padding-left: 15px;
}

tr.sonata-ba-list-field-header .headerSortUp {
    background: url("../bundles/sonataadmin/famfamfam/bullet_arrow_up.png") no-repeat scroll left center transparent;
}
tr.sonata-ba-list-field-header .headerSortDown {
    background: url("../bundles/sonataadmin/famfamfam/bullet_arrow_down.png") no-repeat scroll left center transparent;
}
tr.sonata-ba-list-field-header .headerSortUp:hover {
    background: url("../bundles/sonataadmin/famfamfam/bullet_arrow_down.png") no-repeat scroll left center transparent;
}
tr.sonata-ba-list-field-header .headerSortDown:hover {
    background: url("../bundles/sonataadmin/famfamfam/bullet_arrow_up.png") no-repeat scroll left center transparent;
}

.error-handle-text{
    text-align: center;
}