{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% set value = object.getMontant %}

{% block field %}
<div class="totals montant{% if value<0 %} negative_value{% endif %}">
    {{ value }}
</div>
{% endblock field %}
