{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% set value = globalsGet('SonataAdminBundle_Compte_list_solde') %}

{% block field %}
    {% if not globalsGet('SonataAdminBundle_Compte_list_solde') is null %}
        {% set value = globalsInc('SonataAdminBundle_Compte_list_solde', object.getMontant) %}
        <span class="solde{% if value<0 %} negative_value{% endif %}">
            {{ value }}
        </span>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock field %}
