{% spaceless %}
<a href="{{ path('admin_sonata_clientoperations_v01tva_list', {'filter[client_id][value]' : object.id}) }}">
    <i rel="tooltip" title="Operations" class="icon icon-th-list"></i>
</a>
{% endspaceless %}