<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance_title"|trans() }} {{ "ApplicationSonataClientOperationsBundle.declaration.period_this"|trans() }} (TVA>=0)</td>
        <td class="o_tva">{% if (RealSoldeTVATotal+ClientDeclaration.getPreviousMonth.getCreditOfVATCarriedForward) >= 0 %}{{ (RealSoldeTVATotal+ClientDeclaration.getPreviousMonth.getCreditOfVATCarriedForward)|number_format(0, ',', ' ') }}{% else %}0{% endif %}</td>
    </tr>
    </tbody>
</table>
