<table cellpadding="5" cellspacing="0" border="1">
    <thead>
    <tr>
        <th colspan="2">{{ "ApplicationSonataClientOperationsBundle.declaration.vat_entity"|trans() }} Company</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ client.RaisonSociale }}</td>
        <td>{{ client.NTVAFR }}</td>
    </tr>
    </tbody>
</table>