<table cellpadding="5" cellspacing="0" border="1">
    <thead>
    <tr>
        <th colspan="2">{{ "ApplicationSonataClientOperationsBundle.declaration.vat_entity"|trans() }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ client.nom }}</td>
        <td>{{ client.NTVACEE }}</td>
    </tr>
    </tbody>
</table>