<table cellpadding="5" cellspacing="0" border="1">
    <thead>
    <tr>
        <th>{{ "ApplicationSonataClientOperationsBundle.declaration.summ"|trans() }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ client.getPeriodiciteCA3Info(info.year, info.month) }}</td>
    </tr>
    </tbody>
</table>