{% for template, subtemplates in templates %}
    {% set subclass = class~'_'~template|slice(2) %}
    <div class="declaration_block {{ subclass }}">
        {% if subtemplates is iterable %}
            {% include gp~'combine.html.twig' with {'gp':gp, 'cp': cp~template~'/', 'templates': subtemplates, 'class': subclass} %}
        {% else %}
            {% include cp~template~'.html.twig' with {'cp': cp~template~'/'} %}
        {% endif %}
    </div>
{% endfor %}