{% set nn = "ApplicationSonataClientOperationsBundle.declaration.negative_nett"|trans() %}
<table cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
        <th colspan="4">{{ "ApplicationSonataClientOperationsBundle.declaration.exports_header"|trans() }}</th>
    </tr>
    </thead>
    <tbody>
    
    {% for data in V07EXlist %}
    <tr>
        <td class="o_title">V07-EX</td>
        <td class="o_value">0%</td>
        <td class="o_nett">{{ data.getHT()|number_format(0, ',', ' ') }}</td>
        <td class="o_tva">&nbsp;</td>
    </tr>
    {% endfor %}   
    
    
    </tbody>
</table>
