{% block client_folder %}
<div id="client_folder" class="pull-right">
    Répertoire Client
    <ul>
        <li><i class="icon icon-folder-open"></i>
            Répertoire 1
            <ul>
                <li><i class="icon icon-file"></i>File 1.1</li>
            </ul>
        </li>
        <li><i class="icon icon-folder-open"></i>
            Répertoire 2
            <ul>
                <li><i class="icon icon-file"></i>File 2.1</li>
            </ul>
        </li>
        <li><i class="icon icon-file"></i>File 1</li>
        <li><i class="icon icon-file"></i>File 2</li>
    </ul>
</div>
{% endblock client_folder%}