{% block client_folder %}
<div id="client_folder" class="pull-right">
    <ul>
        <li>
            <i class="icon icon-folder-open"></i> Répertoire Client
            {% include "ApplicationSonataClientOperationsBundle::CRUD/directory_tree.html.twig" with {'files': client_documents, 'root': client_dir} %}
        </li>
    </ul>
</div>
{% endblock client_folder%}