{% block client_local_folder %}
<div id="client_folder" class="pull-right">
    <ul>
        <li>
            <i class="icon icon-folder-open"></i> <a href="{{ client.localWindowsDirectoryPath }}" target="_blank">Répertoire Client</a>
            
        </li>
    </ul>
</div>
{% endblock client_local_folder %}