{% set query_month = admin.setQueryMonth() %}

{% spaceless %}
<a class="clone_link" href="{{ admin.generateObjectUrl('clone', object, query_month ? {'month':query_month} : {})}}">
    <i rel="tooltip" title="Dupliquer" class="icon icon-share-alt"></i>
</a>
{% endspaceless %}