{% set query_month = admin.setQueryMonth() %}

{% spaceless %}
<a href="{{ admin.generateObjectUrl('clone', object, query_month ? {'month':query_month} : {})}}">
    <i rel="tooltip" title="Dupliquer" class="icon icon-th-list"></i>
</a>
{% endspaceless %}