{% block form_client_topinfo %}
<form id="client-topinfo" class="form-inline pull-right">
    <h1>{{ client }}
        <span title="S'affiche uniquement si on a cloturé le mois (il y a donc au moins une ligne qui est cloturée)"
              class="label label-warning">Mois en cours cloturé</span>
    </h1><br>

    <div>
        <label for="selected_month">Mois</label>
        <select id="selected_month">
            <option></option>
            <option>Janvier</option>
            <option>Février</option>
            <option>Mars</option>
            <option>Avril</option>
        </select>
    </div>
</form>
{% endblock form_client_topinfo %}