{#
    Ventes (sell, ouput)
    Achat (buy, input)
#}

{% block form_tabs %}
<div class="clientoperations_tabs_types_block">
    <ul class="nav nav-tabs">
        <li {% if operation_type=='sell' %}class="active"{% endif %}>
            <a href="{{ path('admin_sonata_clientoperations_v01tva_list', _filter_json) }}">Ventes</a>
        </li>
        <li {% if operation_type=='buy' %}class="active"{% endif %}>
            <a href="{{ path('admin_sonata_clientoperations_a02tva_list', _filter_json) }}">Achat</a>
        </li>
    </ul>
    {{ block('form_client_topinfo')}}
</div>
{% endblock %}