{% block form_buttons %}
{% set _filter_json = {'filter[client_id][value]':client_id} %}
<form id="mass-buttons" onsubmit="return false">
    <div>
        <div class="btn-group inline">
            <button class="btn"><i class="icon icon-list-alt"></i> Voir la fiche</button>
            <button class="btn"><i class="icon icon-eye-open"></i> Prévisualisation</button>
            <button class="btn"><i class="icon icon-edit"></i> Saisie</button>
        </div>
    </div>
    <div>
        <div class="btn-group inline">
            <button class="btn"><i class="icon icon-hdd"></i> Importer un fichier</button>
            <button class="btn"><i class="icon icon-trash"></i> Supprimer un lot importé</button>
        </div>
    </div>
    <div>
        <div class="btn-group inline">
            <button class="btn"><i class="icon icon-exclamation-sign"></i> Alertes</button>
            <button class="btn"><i class="icon icon-lock"></i> Déverrouillage</button>
        </div>
    </div>
    <div>
        <div class="btn-group inline">
            <button class="btn" onclick="location.href='{{ path('admin_sonata_clientoperations_v01tva_blank', _filter_json) }}'"><i class="icon icon-exclamation-sign"></i>Excel blanc</button>
        </div>
    </div>
</form>
{% endblock form_buttons %}