{% block popup_form %}
    {# <div id="field_dialog_{{ id }}"></div> #}
    <div class="modal hide fade popup-form" id="field_dialog_{{ id }}" tabindex="-1" role="dialog" aria-labelledby=""
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="title"></h3></div>
        <div class="modal-body popup-body"></div>
        <div class="modal-footer">
            <span class="action-buttons"></span>
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">fermer</button>
        </div>
    </div>
{% endblock popup_form %}