<table cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
    	<td>&nbsp;</td>
    	<td>&nbsp;</td>
    	<td class="th_nett o_nett">{{ "ApplicationSonataClientOperationsBundle.declaration.th.nett"|trans() }}</td>
    	<td class="th_tva o_tva">&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    
	{% for data in A10CAFlist %}
    <tr>
        <td colspan="2" class="i_title">{% if loop.index == 1 %}{{ "ApplicationSonataClientOperationsBundle.declaration.quota_header"|trans() }}{% endif %}</td>
        <td class="i_nett">{{ data.getHT()|number_format(0, ',', ' ') }}</td>
        <td class="i_tva">&nbsp;</td>
    </tr>
    {% endfor %}   


    </tbody>
</table>
