{% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
    <a class="btn sonata-action-element  {% if admin.hasClosedClientAccess is defined %}{% if not admin.hasClosedClientAccess %}disabled{% endif %}{% endif %}" href="{% if admin.hasClosedClientAccess is defined %}{% if not admin.hasClosedClientAccess %}javascript:void(0);{% else %}{{ admin.generateUrl('create') }}{% endif %}{% endif %}">{{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</a>
{% endif %}

{% if virement_form is defined and virement_form %}
    <a class="btn {% if coordonnees_count is defined and coordonnees_count == 0 %}disabled{% endif %}" id="virement-btn" href="#">Ordre de Virement</a>
<br /><br />
{% include 'ApplicationSonataClientBundle::Form/form_virement.html.twig' with {'form': virement_form} %}
{% endif %}