.form-horizontal table.form-table .controls {
    margin-left: 230px;
}
.form-horizontal table.form-table .control-label {
    width: 210px
}
.form-horizontal table td {
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal ul.unstyled,
.form-horizontal .sonata-ba-field {
    width: 200px;
}

.form-horizontal ul.unstyled li {
    float: left;
    margin-right: 30px;
}

.form-horizontal .sonata-ba-field input.span5,
.form-horizontal .sonata-ba-field select.span5 {
    width: 100%;
}

.form-horizontal #clone_address {
    margin-left: 230px;
}