.client_tabs_block {
    clear: both;
    float: none;
}

.client_tabs_block button {
    margin-top: -60px;
    float: right;
}

.sonata-filter-form  #filter_client_id_row {
    display: none;
}

.js-tarif .form-client-invoicing .control-group {
    width: 600px;
}

.js-tarif .form-client-invoicing {
    position: relative;
}

.js-tarif .form-client-invoicing label {
    white-space: nowrap;
}

.js-tarif .form-client-invoicing .field-1 input,
.js-tarif .form-client-invoicing .field-2 input {
    width: 100px;
}

.js-tarif .form-client-invoicing .field-2 label,
.js-tarif .form-client-invoicing .field-4 label,
.js-tarif .form-client-invoicing .field-5 label {
    width: 80px;
}

.js-tarif .form-client-invoicing .field-2 .controls,
.js-tarif .form-client-invoicing .field-4 .controls,
.js-tarif .form-client-invoicing .field-5 .controls {
    margin-left: 100px;
}

.js-tarif .form-client-invoicing .field-3 input {
    width: 87px;
}

.js-tarif .form-client-invoicing .field-2 {
    position: absolute;
    left: 274px;
    top: 129px;
}

.js-tarif .form-client-invoicing .field-4 {
    position: absolute;
    left: 274px;
    top: 180px;
}

.js-tarif .form-client-invoicing .field-5 {
    position: absolute;
    left: 480px;
    top: 180px;
}

.js-tarif .form-client-invoicing .field-6 {
    position: absolute;
    left: 400px;
    top: 230px;
}

.js-tarif .form-client-invoicing .form-horizontal fieldset {
    min-height: 280px;
}

.js-tarif .row-fluid .span5 {
    width: 220px;
}

.js-tarif .form-client-invoicing .field-0 .span5 {
    width: 100px;
}

.js-tarif .form-client-invoicing .field-4 .span5 {
    width: 100px;
}

.date_notaire,
.date_apostille,
.statut_document_notaire,
.statut_document_apostille {
    float: left;
}

.statut_document_notaire select,
.statut_document_apostille select {
    width: auto;
}

.statut_document_notaire .control-label,
.statut_document_apostille .control-label {
    width: 28%;
}

.statut_document_notaire .controls,
.statut_document_apostille .controls {
    margin-left: 75px;
}

.js-coordonnees .table {
    width: auto;
}

.js-garantie .table {
    width: auto;
}

.tabledrag-handle,
.tabledrag-handle:hover {
    text-decoration: none;
    cursor: move;
}

.handle {
    height: 20px;
    width: 20px;
    background: url(../images/draggable.png) 0px 0px no-repeat;
}

.js-impression label {
    float: left;
}
.etiquette_table {
    width: auto;
}
.etiquette_table tr td {
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.etiquette_table tr:hover td {
    background-color: #F5F5F5;
}

#check_all {
    float: left;
}
