.form-horizontal table td {

    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal ul.unstyled,
.form-horizontal .sonata-ba-field {
    width: 200px;
}

.form-horizontal ul.unstyled li {
    float: left;
    margin-right: 30px;
}

.form-horizontal .sonata-ba-field input.span5,
.form-horizontal .sonata-ba-field select.span5 {
    width: 100%;
}

.form-horizontal #clone_address {
    margin: 0 0 18px 180px;
}

.form-horizontal .field-21 {
    margin-top: 121px;
}

.form-horizontal .field-21 label {
    float: right;
    margin: 0 42px 0 0;
    padding: 3px;
    white-space: nowrap;
}

.form-horizontal .field-32 {
    margin-top: 120px;
}

.form-horizontal .field-34 {
    margin-top: 120px;
}
